@model yEtiHotel.Models.Room

@{
    ViewBag.Title = "Usuwanie pokoju";
}

<h2>Usuwanie pokoju</h2>

<h3>Czy na pewno chcesz usunąć ten pokój?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer pokoju
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Ilość sypialni
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>

        <dt>
            Powierzchnia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            Koszt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            Ekspozycja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exposure)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
